<div class="row-fluid">
  <div class="looks-like-glass span4 offset4 logincontainer">
    <h3>Sign In</h3>
    <div style = "margin-left: 12%">
      <%= form_tag sessions_path do %>  
        <div class="form-inputs">
          <%= text_field_tag :user_name, nil,:placeholder => "User name", :required => 'required'%>  
          <%= password_field_tag :password, nil,:placeholder => "password", :required => 'required'  %>
        </div>
        <div>
          <%= button_tag "Sign in" ,:type => "submit" , :class => "btn btn-primary" ,:id => "login_button_form"  %>
        </div>
      <% end %>
      
    </div>
  </div>
</div>
