<!-- # Refactor -->
<div class="col-sm-12">
  <h4 style="padding: 7px;background: #CCC;">Audit Trails</h4>
  <% (comments.reverse).each do |comment| %>
    <% data = comment[1].split(' ') %>
    <span >
      <span style="color: #428BCA;">Audit Trail For :</span>
      <b><%= "#{data[4]} #{data[5]}" %></b>
    </span>
    <br/>
    <span >
      <span style= "color: #428BCA;">Created By :</span>
      <b><%= "#{data[2]}" %></b>
    </span>
    <br/>
    <span>
      <span style="color: #428BCA;float: left;margin-right: 5px;">Note :</span>
      <%= simple_format(comment[0]) %>
    </span>
    <hr/>
  <% end %>
</div>