<form class="form-horizontal", id="new_issue_create_form">  
  <div class="control-group">
    <div class="col-sm-12 create_cut_field" style="margin-top: 10px;"> 
      
      <div class="col-sm-4">
        <label for="input01">
          Project<span class="required">*</span>
        </label>
        <div>
          <%= select_tag 'project', options_for_select(projects, selected: params[:project]) , style: 'width: 100%;' %>
        </div>
      </div>

      <div class="col-sm-4">
        <label for="input01">
          Status<span class="required">*</span>
        </label>
        <div class="">
          <%= select_tag 'status', options_for_select(status)%>
        </div> 
      </div>

      <div class="col-sm-4">
        <label for="input01">
          Severity<span class="required">*</span>
        </label>
        <div>
          <%= select_tag 'severity', options_for_select(servity)%>
        </div> 
      </div>
      
    </div>

    <div class="col-sm-12 create_cut_field">
      
      <div class="col-sm-12">
        <label for="input01">
          Issue Description<span class="required">*</span>
        </label>
        <div>
          <textarea name="description" id="description" placeholder='Enter Description' class='cut-area' required>
          </textarea>
        </div> 
      </div>
      
    </div>
    
  </div>  
</form>  


