<fieldset class="fieldset">
	<div class="row-fluid">
			<fieldset class="" style="margin-bottom: 10px;">
				<div class="col-sm-10">
					<label class="control-label"><strong style="font-size: 16px; color:#428BCA">Project Creation Summary</strong></label>
					<%= select_tag 'project_list_report', options_for_select(project_list(@projects)) , :style=>"margin-top: 8px; margin-right: 10px; margin-left: 10px; width: 20%;" %>
					<input type="text" class="startDate" id="dateStartReport" required readonly placeholder = "Start dateIdentified" %> 
					<input type="text" class="endDate" id="dateEndReport" required readonly placeholder = "End dateIdentified"%>
					<%=link_to "Find" , '#' , :class => "btn btn-primary find_issues",:data_pdf => false  %> 
					<%=link_to "PDF" , '#' , :class => "btn btn-primary find_issues",:data_pdf => true, :target => "_blank" %> 
				</div>
				<div class="col-sm-8">
					
				</div>
			</fieldset>
			<div class = "project_list_report_div">
				<%= render "project_list_report"%>
			</div">	
	</div>  
</fieldset>