<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Cut Detail</h3>
	</div>
	<div class="panel-body">
		<div class="control-group">
			
			<% ['Project', 'Description', 'Status', 'Severity'].each do |field| %>
				<div class="col-sm-12 margin_bottom">
					<div class="col-sm-12">
						<label for="input01"><%= field %></label>
						<div>
							<%= @object_issues.send(field) %>
						</div>
					</div>
				</div>
			<% end -%>

			<div class="col-sm-12">
				<% unless @object_issues.CommentsArray.blank? %>
					<% render partial: 'comments', locals: {comments: @object_issues.CommentsArray } %>
				<% end %>
			</div>
		<%= link_to 'Back', :back, class: 'btn btn-primary' %>
		</div>  
	</div>
</div>